{% extends "base.html" %}

{% block content %}

<div class="w3-padding-16 w3-white w3-container ">
    <div class="w3-center w3-panel w3-card-4 w3-theme-l3 w3-padding-16 w3-round-xxlarge">
    <div class="w3-twothird w3-center">
        <img src="{{ url_for('static', filename='images/Service/Sim lost.png') }}" width="80%">
    </div>
    <div class="w3-third">
        <br>
        <p class="w3-text-theme w3-xxlarge w3-center" style="font-family:Times New Roman"><b> SIM Lost Request</b>
          <br>Once the verification process completed successfully you will get back into your service </p>
        <br>
        {% if msg == "lost" %}
            <h4>Get start for further verification process</h4>
            <a href="#" id="issueButton" class="w3-center w3-button w3-aqua w3-round-xlarge">Click Here</a>
        {% elif msg == "Unsuccess" %}
            <h4>User Photo Verification Failed</h4>
            <a href="#" id="issueButton" class="w3-center w3-button w3-aqua w3-round-xlarge">Retry</a>
        {% else %}
            <h4>{{msg}}</h4>
            <a href="{{ url_for('home') }}" class="w3-center w3-button w3-aqua w3-round-xlarge">Redirect to Home</a>
        {% endif %}
    </div>
    </div>
</div>

<div id="lostSimModalLabel" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-center">
            <span onclick="document.getElementById('canceldetails').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <br><h2 class="w3-text-theme w3-center"><b>Submit your details for Verification</b></h2> <br>
            <form id="phoneInputForm">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" class="w3-panel w3-boarder-tea" id="phoneNumber" name="phoneNumber">
                    </div>
                    <br>
                    <img src="{{ url_for('video_feed') }}" alt="Video Stream" style="width: 50%;"><br><br>
            </form>
            <div class="w3-container w3-center">
                <br>
                <a href="#" type="button" class="w3-center w3-button w3-aqua w3-round-xlarge" id="submitPhoneNumber">Submit</a>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>

<script>
    document.getElementById("issueButton").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the form from submitting
            document.getElementById("lostSimModalLabel").style.display = "block";
        });

        // Close the modal when the close button is clicked
        document.querySelector(".w3-display-topright").addEventListener("click", function () {
            document.getElementById("lostSimModalLabel").style.display = "none";
        });

    document.getElementById('submitPhoneNumber').addEventListener('click', function () {
    // Get the phone number from the input field
    var phoneNumber = document.getElementById('phoneNumber').value;
    console.log(phoneNumber)

    // Encode the phone number and redirect to the /lost_sim route with the encoded value
    var encodedPhoneNumber = encodeURIComponent(phoneNumber);
    window.location.href = "/lost_sim?phone=" + encodedPhoneNumber;
});
</script>

{% endblock %}