{% extends "base.html" %}

{% block content %}

    <h1 class="w3-center w3-text-theme"><b>Customized Plan Recharge</b></h1><br>
    <div class="w3-container w3-row">
        <div class="w3-col w3-quarter"><p> </p></div>
        <div class="w3-col w3-half w3-center">
            <div class="w3-panel w3-card-2 w3-theme-l5 w3-padding-16">
                <h3><b>Your Customized Plan Details</b></h3>

                {% if data['Daily Limit'] == 1 %}
                <h4>Daily Limit: Yes</h4>
                <h4>Data/Day: {{data['Data']/data['Days']}} GB</h4>
                <h4>No. of Days: {{data['Days']}}</h4>
                {% else %}
                <h4>Daily Limit: No</h4>
                <h4>Overall Data: {{data['Data']}}</h4>
                <h4>No. of Days: {{data['Days']}}</h4>
                {% endif %}

                {% if data['Daily Limit'] == 1 %}
                <h4>Unlimited Calls: Yes</h4>
                <h4>Overall SMS: {{data['SMS/Day']}}</h4>
                {% else %}
                <h4>Unlimited Calls: No</h4>
                <h4>Overall SMS: {{data['SMS/Day']}}</h4>
                {% endif %}

                <h4>Total Amount: <b><i>&#8377</i>{{ price }}</b></h4><br>
                <div class="w3-row">
                    <div class="w3-third"><p></p></div>
                    <div class="w3-third w3-center">
                        <button class="w3-button w3-block w3-aqua w3-round-xlarge" onclick="openRazorpayPopup(450)"><b>Recharge</b></button>
                    </div>
                    <div class="w3-third"><p></p></div>
                </div>
                <br>
                </div>
            </div>
        </div>
        <div class="w3-col w3-quarter"><p> </p></div>
    <br>

<script>
    function openRazorpayPopup(amount) {
        // Convert the amount to paise
        var amountInPaise = amount * 100;

        // Make an AJAX request to your server to create a Razorpay order
        fetch('/create-razorpay-order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ amount: amountInPaise }),
        })
        .then(response => response.json())
        .then(data => {
            // Initialize the Razorpay object with your Razorpay API key
            var options = {
                key: 'rzp_test_uYSCttEb2YeTMd',
                amount: data.amount, // Amount in paise
                currency: 'INR', // Currency code
                name: 'Aspirants Telecom',
                description: 'Recharge',
                order_id: data.id,
                handler: function (response) {
                                // You can handle the payment success here
                                $.ajax({
                                    url: '/store_payment', // Modify the URL as needed
                                    method: 'POST',
                                    contentType: 'application/json', // Set the content type
                                    data: JSON.stringify({
                                        razorpay_payment_id: response.razorpay_payment_id,
                                        razorpay_order_id: response.razorpay_order_id,
                                        description: 'Recharge',
                                    }),
                                    success: function (data) {
                                        alert('Payment successful for Recharging! Payment ID: ' + response.razorpay_payment_id);
                                        if (data.message === "Payment details saved in MongoDB") {
                                            // Redirect to Home.html
                                            window.location.href = '/home';
                                        }
                                    },
                                    error: function () {
                                        alert('Error storing payment details.');
                                    }
                                });
                            },
                            theme: {
                                color: '#0a0082' ,
                                },
                            };
            var rzp = new Razorpay(options);
            rzp.open();
        })
        .catch(error => {
            console.error('Error creating Razorpay order: ' + error);
        });
    }
</script>

{% endblock %}